<h1>Taxy Products</h1>

<ul>
	<% @products.each do |product| %>
		<li>
			<h2><%= product.name %></h2>
			<img src="<%= product.image_url %>" >
			<%= link_to('investigate...', product_path(product)) %>
		</li>
	<% end %>
</ul>
